<div class="mainContent">
<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto card  py-4 px-3 formSection">
      <div *ngIf="!IsSuccess">
        <h4>{{message}}</h4>
      </div>

      <div class="" *ngIf="IsSuccess">
        <h4 class="subHeading">Following are the booking details</h4>
        <hr>


        <div class="table-responsive" id="bookingDetails">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Driver ID :</th>
                <td>{{userData.driverid}}</td>
              </tr>
              <tr>
                <th>User ID :</th>
                <td>{{userData.userid}}</td>
              </tr>
              <tr>
                <th>Start Location :</th>
                <td>{{userData.startloc}}</td>
              </tr>
              <tr>
                  <th>End Location :</th>
                  <td>{{userData.endloc}}</td>
                </tr>
                <tr>
                  <th>Driver Name :</th>
                  <td>{{userData.drivername}}</td>
                </tr>
                <tr>
                  <th>License No :</th>
                  <td>{{userData.license}}</td>
                </tr>
                <tr>
                    <th>Number Plate :</th>
                    <td>{{userData.numberplate}}</td>
                  </tr>
                  <tr>
                      <th>RTO Verification Status :</th>
                      <td>&#10003;</td>
                    </tr>
                    <tr>
                        <th>Driver Crimial Record Status :</th>
                        <td>&#10003;</td>
                      </tr>
            </tbody>
          </table>
        </div>





        <!--<p class="info_div">
          <span> Driver ID :</span> {{userData.driverid}}
        </p>
        <p class="info_div">
          <span> User ID :</span> {{userData.userid}}
        </p>
        <p class="info_div">
          <span>Start Location :</span> {{userData.startloc}}
        </p>
        <p class="info_div">
          <span>End Location :</span> {{userData.endloc}}
        </p>
        <p class="info_div">
          <span>Driver Name :</span> {{userData.drivername}}
        </p>
        <p class="info_div">
          <span>License No :</span> {{userData.license}}
        </p>
        <p class="info_div mb-0">
          <span>Number Plate :</span> {{userData.numberplate}}
        </p>-->
      </div>
    </div>
  </div>
</div>
</div>
<!-- <div *ngIf="!IsSuccess">
  <h3>{{message}}</h3>
</div> -->
<!-- *ngIf="IsSuccess" -->
<!-- <div>
  <h1>Following are the booking details</h1>
  <b>DriverID : </b> Helo {{userData.driverid}} <br><br>
  <b>UserID : </b> Helo {{userData.userid}} <br><br>
  <b>StartLoc : </b> Helo {{userData.startloc}} <br><br>
  <b>EndLoc: </b> Helo {{userData.endloc}} <br><br>
  <b>DriverName: </b> Helo {{userData.drivername}} <br><br>
  <b>LicenseNo : </b> Helo {{userData.license}} <br><br>
  <b>NumberPlate : </b> Helo {{userData.numberplate}} <br><br> -->


<!-- <h2>Basic Info - 2</h2><hr>
  <b>First Name : </b>    {{uidData.basicdata2.firstname}} <br><br>
  <b> Last Name : </b>    {{uidData.basicdata2.lastname}} <br><br>
  <b>Gender : </b>    {{uidData.basicdata2.gender}} <br><br>
  <b>date of birth : </b>    {{uidData.basicdata2.dob}} <br><br>
  <b>Contact Number : </b>    {{uidData.basicdata2.contact_number}} <br><br>
  <b>Email ID : </b> {{uidData.basicdata2.emailid}} <br><br>
  
  <h2>Address Data</h2><hr>
  <b>Address Line 1 : </b> {{uidData.address.addressline1}} <br> <br>
  <b>Address Line 2 : </b> {{uidData.address.addressline2}} <br> <br>
  <b>City : </b> {{uidData.address.city}} <br> <br>
  <b>Pin : </b> {{uidData.address.pincode}} <br> <br>
  <b>State : </b> {{uidData.address.state}} <br> <br> -->

<!-- <button type="submit" [routerLink]="['../../askUserOfficer']">Next</button> -->
<!-- </div> -->
<!-- *ngIf = "model.invalid == 'false'" -->