html{height:100%;}
body { min-height: 100%; position: relative;   padding: 0;  margin: 0; background: url(https://www.webstyleclub.com/demosites/graftonlodge/images/wallpaper.jpg) no-repeat 0 0 / cover fixed;}
body:before {background: rgba(255, 255, 255, 0.2); position: absolute; left: 0;  top: 0;  width: 100%;  height: 100%; / z-index: 0; / content: "";}

#navSection{padding: 10px 0px;}
#navSection a.navbar-brand img{margin-top: -20px; width: auto; height: 91px;}
#navSection .navbar-collapse ul li a{ text-transform: capitalize; font-size: 14px; font-weight: 700; letter-spacing: 0.4px; }
.mainContent{padding: 50px 0px 90px; width: 100%; overflow: hidden;}
.mainheading{text-align: center; font-size: 25px; color: #007bff; position: relative;}
h1.mainheading:before {position: absolute; bottom: -15px; left: 0; right: 0; margin: 0 auto; border-bottom: 1px solid #007bff; content: ""; width: 33%;}
.subHeading{font-size: 16px; letter-spacing: 0.5px; font-weight: bold; color: #007bff;}
.formSection{ border:0px; border-radius: 0px; box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.5);}
.formSection form label {
    font-size: 13px;
    letter-spacing: 0.3px; line-height: 24px;
}

.formSection form input, .formSection form select, .formSection form textarea {
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    padding: 0px 0px 5px;
    height: auto;
    font-size: 13px;
    font-weight: normal;
}
.formSection form input:focus, .formSection form select:focus, .formSection form textarea:focus{border-color: #007bff; box-shadow: none  !important;}
.formSection form button.btn {
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.4px; padding: 6px 0px 8px;
    width: 100%;
}
.formSection form button.btn:focus{box-shadow: none !important; outline: none;}

.formSection form.ng-invalid button.btn + p {
    
    font-size: 12px;      margin: 10px 0px !important;
    color: #f00;
}
.formSection form.ng-valid button.btn + p {
    
    font-size: 12px;
    color: green;     margin: 10px 0px !important;
}

.mainContent .register_form{margin: 0px 0px 0px;}
#footerSection {background: #007bff; padding: 10px 0px; position: absolute; bottom: 0; width: 100%; height: 40px;}
#footerSection p {
    margin: 0px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}

form.ng-invalid + p{color:#f00; font-size: 14px;     margin: 10px 0px !important;}
form.ng-valid + p{color: green; font-size: 14px;     margin: 10px 0px !important;}

#gender{margin-right: 20px;}

#bookingDetails table tbody tr th{font-weight: normal; font-size: 14px;}
#bookingDetails table tbody tr td{ font-size: 14px;}