<div class="mainContent">
<div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto card  py-4 px-3 formSection">
        <h4 class="subHeading">Enter Adhaar or UID to fetch User/Driver Details</h4>
        <hr>
          <form [formGroup]="form" method="POST">
              <div class="form-group">
                <label for="">Adhaar/UID</label>
                <input type="number" class="form-control" formControlName=uid  type="text">
              </div>
  
            <div *ngIf="response?.status != 'success'">
              <button type="submit" class="btn btn-primary px-5" (click)="fillbd3()"  [disabled]="!form.valid || submitButton">
                Submit
              </button>
              <p class="mt-2">
                Form Status: {{form.status}}
              </p>
            </div>
            <h4 class="mb-0">{{response?.message}}</h4>
            <!-- <button *ngIf="response?.status == 'success'" type="submit" [routerLink]="['/taxi/part2']">Next</button> -->
          </form>
      </div>
    </div>
  </div>


<!-- <h1>enter uid to fetch </h1>

<div>
  <form [formGroup]="form" method="POST">
    
    UID  :       <input formControlName=uid type="number"><br><br><br>
    
    <div *ngIf="response?.status != 'success'">
      <button type="submit" (click)="fillbd3()" [disabled]="!form.valid || submitButton">
        Submit
      </button><br><br>
      Form Status: {{form.status}} <br><br>
    </div>
    <h4>{{response?.message}}</h4>
  </form>
</div> -->

<!-- <button *ngIf="response?.status == 'success'" type="submit" [routerLink]="['/taxi/part2']">Next</button> -->