<div class="mainContent">
  <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto card py-4 px-3 formSection">
          <h4 class="subHeading">Registration form for Driver</h4>
          <hr>
            <form [formGroup]="form" method="POST">
                <div class="row">
                  <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="">Enter Adhaar or unique id</label>
                      <input formControlName=id  class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for=""> Email ID</label>
                      <input formControlName="emailid" class="form-control" type="email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="">First Name</label>
                      <input formControlName="firstname" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <input formControlName="lastname" class="form-control" type="text">
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="">Date Of Birth</label>
                      <input formControlName="dob" class="form-control" type="date">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for=""> Contact Number</label>
                      <input formControlName="contact_number" class="form-control" type="number">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="d-block" id="gender">Gender</label>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" formControlName="gender" id="male" value="male" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="male">Male</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" formControlName="gender" id="female" value="female" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="female">Female</label>
                  </div>
              </div>
                <div class="form-group">
                    <label for=""> License</label>
                    <input formControlName="licen" class="form-control" type="text">
                </div>
                <div class="form-group">
                  <label for="d-block">Any Criminal Records?</label> <br>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" formControlName="crime" id="yes" value="yes" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="yes">yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" formControlName="crime" id="no" value="no" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="no">no</label>
                  </div>
              </div>
    
              <div *ngIf="response?.status != 'success'">
                <button type="submit" class="btn btn-primary px-5" (click)="fillbd1()" [disabled]="!form.valid || submitButton">
                  Submit
                </button>
                <p class="mt-2">
                  Form Status: {{form.status}}
                </p>
              </div>
              <h4 class="mb-0">{{response?.message}}</h4>
              <!-- <button *ngIf="response?.status == 'success'" type="submit" [routerLink]="['/taxi/part2']">Next</button> -->
            </form>
        </div>
      </div>
  </div>
</div>

<!-- <div>
  <form [formGroup]="form" method="POST">
   
    UID  :       <input formControlName=id type="number"><br><br><br>
    First Name : <input formControlName="firstname" type="text"><br><br><br>
    Last Name : <input formControlName="lastname" type="text"><br><br><br>

    Gender :
    Male : <input formControlName="gender" type="radio" value="male">
    Female : <input formControlName="gender" type="radio" value="female"><br><br><br>

    Date Of Birth: <input formControlName="dob" type="date"><br><br><br>
    Contact Number: <input formControlName="contact_number" type="number"><br><br><br>
    Email ID: <input formControlName="emailid" type="email"><br><br>
    License: <input formControlName="licen" class="form-control" type="number"><br><br>

    
    <div *ngIf="response?.status != 'success'">
      <button type="submit" (click)="fillbd1()" [disabled]="!form.valid || submitButton">
        Submit
      </button><br><br>
      Form Status: {{form.status}} <br><br>
    </div>
    <h4>{{response?.message}}</h4>
  </form>
</div> -->

<!-- Upload Photo: <input type="file" formControlName="photo" ><br><br><br> -->
<!-- <button *ngIf="response?.status == 'success'" type="submit" [routerLink]="['/taxi/part3/:uid']">Next</button> -->