
<!-- <button type="button" [routerLink]="['uidai/part1']">Apply for UIDAI Card</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" [routerLink]="['dl/fetchData']">Fetch UIDAI Data to DL Authority</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" [routerLink]="['dl/aadharBool']">Apply for Driving License</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" [routerLink]="['dl/addRTO']">Add RTO</button>  &nbsp;&nbsp;&nbsp;&nbsp; 
<button type="button" [routerLink]="['dl/addOfficer']">Add Officer</button> &nbsp;&nbsp;&nbsp;&nbsp; 
<button type="button" [routerLink]="['dl/user']" disabled = "true">User's Dashboard</button> &nbsp;&nbsp;&nbsp;&nbsp; 
<button type="button" [routerLink]="['dl/officer']" disabled = "true">Officer's Dashboard</button> &nbsp;&nbsp;&nbsp;&nbsp; 
<hr> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navSection">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">Decentralised Ride Sharing App</a>
        <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['']">About Us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['']">Team <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['']">Contact <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- <button type="button" [routerLink]="['']">Home</button> -->

<router-outlet></router-outlet>
<footer id="footerSection">
    <div class="container">
      <p class="text-center">&copy; 2019 | Beyond Blocks Labs    | All Right Reserved.</p>
    </div>
  </footer>