<div class="mainContent">
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto card  py-4 px-3 formSection">
      <h4 class="subHeading">Registration form for User </h4>
      <hr>
        <form [formGroup]="form" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Enter Adhaar or unique id</label>
                  <input formControlName=id  class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for=""> Email ID</label>
                  <input formControlName="emailid" class="form-control" type="email">
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">First Name</label>
                  <input formControlName="firstname" class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Last Name</label>
                  <input formControlName="lastname" class="form-control" type="text">
                </div>
              </div>
            </div>
            
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Date Of Birth</label>
                  <input formControlName="dob" class="form-control" type="date">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for=""> Contact Number</label>
                  <input formControlName="contact_number" class="form-control" type="number">
                </div>
              </div>
            </div>
            
            
            <div class="form-group">
              <label for="d-block" id="gender">Gender</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" formControlName="gender" id="male" value="male" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="male">Male</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" formControlName="gender" id="female" value="female" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="female">Female</label>
              </div>
          </div>

          <div *ngIf="response?.status != 'success'">
            <button type="submit" class="btn btn-primary px-5" (click)="fillbd1()" [disabled]="!form.valid || submitButton">
              Submit
            </button><br><br>
            Form Status: {{form.status}} <br><br>
          </div>
          <h4 class="mb-0">{{response?.message}}</h4>
          <!-- <button *ngIf="response?.status == 'success'" type="submit" [routerLink]="['/taxi/part2']">Next</button> -->
        </form>
    </div>
  </div>
</div>
</div>