<div class="mainContent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!--<hr>-->
      </div>
      <div class="col-md-4 card mx-auto py-4 px-3 formSection">
        <h4 class="subHeading">Choose your option:</h4>
        <hr>
        <form [formGroup]="form" class="register_form">
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice" id="registerUser" value="registeruser"
              class="custom-control-input">
            <label class="custom-control-label" for="registerUser"> Register User</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice" id="registerDriver" value="registerdriver"
              class="custom-control-input">
            <label class="custom-control-label" for="registerDriver">Register Driver</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice" id="registerVehicle" value="registervehicle"
              class="custom-control-input">
            <label class="custom-control-label" for="registerVehicle">Register Vehicle</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice" id="fetchDetails" value="fetchdetails"
              class="custom-control-input">
            <label class="custom-control-label" for="fetchDetails">Fetch Details</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice" id="bookTaxi" value="booktaxi" class="custom-control-input">
            <label class="custom-control-label" for="bookTaxi">Book Taxi</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice"  id="rto" class="custom-control-input" value="rto">
              <label class="custom-control-label" for="rto">Add RTO</label>
          </div>
  
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice" id="officer" value="officer" class="custom-control-input">
              <label class="custom-control-label" for="officer">Add officer</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice" id="officer_dashboard" value="officer_dashboard" class="custom-control-input">
              <label class="custom-control-label" for="officer_dashboard">Officer Dashboard</label>
          </div> 
          <div class="custom-control custom-radio">
            <input type="radio" formControlName="choice" id="user_dashboard" value="user_dashboard" class="custom-control-input">
              <label class="custom-control-label" for="user_dashboard">User Dashboard</label>
          </div> 
  
          <!-- <input type="radio" formControlName="choice" value="registervehicle">Register Vehicle -->
  
          <!-- <input type="radio" formControlName="choice" value="rto">Add RTO
              <input type="radio" formControlName="choice" value="officer">Add officer -->
          <button type="submit" class="btn btn-primary btn-block mt-3" (click)="p()"
            [disabled]="!form.valid">Submit</button>
        </form>
<!--   
        <p class="mt-4">
          Form Status: {{form.status}}
        </p> -->
      </div>
    </div>
  </div>
</div>