<div class="mainContent">
<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto card  py-4 px-3 formSection">
      <h4 class="subHeading">BOOK TAXI</h4>
      <hr>
      <form [formGroup]="form" method="POST">
        <div class="form-group" style="display: none;">
          <label for="">ID</label>
          <input formControlName=id value="2" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="">Your Adhaar/UID</label>
          <input formControlName=uid class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="">Start Location</label>
          <input formControlName=startloc class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="">End Location</label>
          <input formControlName=endloc class="form-control" type="text">
        </div>

        <div *ngIf="response?.status != 'success'">
          <button type="submit" class="btn btn-primary px-5" (click)="fillbd3()">
            Submit
          </button>
          <p class="mt-2">
            Form Status: {{form.status}}
          </p>
        </div>
        <h4 class="mb-0">{{response?.message}}</h4>
        <button *ngIf="response?.status == 'success'" class="btn btn-primary px-5" type="submit" (click)="next()">Next</button>
      </form>
    </div>
  </div>
</div>
</div>


<!-- <h1>Enter UID to BOOK TAXI </h1>

<div>
  <form [formGroup]="form" method="POST">
    
    id  :       <input formControlName=id class="form-control" type="number"><br><br><br>
    Userid  :       <input formControlName=uid class="form-control" type="number"><br><br><br>

    Start Location  :       <input formControlName=startloc class="form-control" type="text"><br><br><br>
    End Location  :       <input formControlName=endloc class="form-control" type="text"><br><br><br>

    
    <div *ngIf="response?.status != 'success'">
      <button type="submit" (click)="fillbd3()" >
        Submit
      </button><br><br>
      Form Status: {{form.status}} <br><br>
    </div>
    <h4>{{response?.message}}</h4>
    <button *ngIf="response?.status == 'success'" type="submit" (click)="next()">Next</button>
  </form>
</div> -->