<div class="mainContent">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto card  py-4 px-3 formSection">
        <h4 class="subHeading">Register your vehicle</h4>
        <hr>
          <form [formGroup]="form" method="POST" action="/sendData">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="">Enter Adhaar or UID of DRIVER FOR MAPPING</label>
                    <input type="number" class="form-control" formControlName=id  type="number">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="">Vehicle Type</label>
                    <input type="text" class="form-control" formControlName="vehicletype" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                      <label for="">Number Plate(Integer Only)</label>
                      <input type="number" class="form-control" formControlName="numberplate" type="number">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                      <label for="">Car Company</label>
                      <input type="text" class="form-control" formControlName="carcompany" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Location</label>
                    <input type="text" class="form-control" formControlName="carmake" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Car Colour</label>
                    <input type="text" class="form-control" formControlName="carcolour" type="text">
                  </div>  
                </div>
              </div>
              
              
              <div class="form-group">
                  <label for="">Chasis Number</label>
                  <input type="number" class="form-control" formControlName="chasisnumber" type="number">
              </div>
              <div class="form-group">
                <label for="d-block">RTO Verified?</label> <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" formControlName="rto" id="yes" value="yes" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="yes">yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" formControlName="rto" id="no" value="no" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="no">no</label>
                </div>
            </div>
  
            <div *ngIf="response?.status != 'success'">
              <button type="submit" class="btn btn-primary px-5" (click)="fillbd3()">
                Submit
              </button>
              <p class="mt-2">
                Form Status: {{form.status}}
              </p>
            </div>
            <h4 class="mb-0">{{response?.message}}</h4>
            <!-- <button *ngIf="response?.status == 'success'" type="submit" [routerLink]="['/taxi/part2']">Next</button> -->
          </form>
      </div>
    </div>
  </div>
</div>


<!-- <h1>Register your vehicle </h1>

<div>
  <form [formGroup]="form" method="POST" action="/sendData">

    uid  :       <input type="number" class="form-control" formControlName=id ><br><br><br>
    vehicletype: <input type="text" class="form-control" formControlName="vehicletype"> <br><br><br>
    numberplate: <input type="number" class="form-control" formControlName="numberplate"> <br><br><br>
    carcompany: <input type="text" class="form-control" formControlName="carcompany"> <br><br><br>
    Location:  <input type="text" class="form-control" formControlName="carmake"> <br><br><br>
    carcolour:<input type="text" class="form-control" formControlName="carcolour"> <br><br><br>
    chasisnumber:<input type="number" class="form-control" formControlName="chasisnumber"> <br><br><br>

    <div *ngIf="response?.status != 'success'">
      <button  type="submit" (click)="fillbd3()" >
        Submit
      </button><br><br>
      Form Status: {{form.status}} <br><br>
    </div>
    <h4>{{response?.message}}</h4>
    
  </form>
</div> -->

    <!-- <h3>
        UIDAI Number : {{uid}}
    </h3> -->
    <!-- <button *ngIf="response?.status == 'success'" type="button" (click)="next()">
      Send data to Driving License Authority
    </button> -->