.info_div{
    margin-bottom: 20px;
}

.info_div {
    font-weight: 600;
    font-size: 18px;
}

.info_div span{
    display: block;
    font-size: 14px;
}

.info_div:last-child{
    margin-bottom: 0px;
}