<div class="mainContent">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto card  py-4 px-3 formSection">
        <div *ngIf="!IsSuccess">
          <h4>{{message}}</h4>
        </div>

        <div class="" *ngIf="IsSuccess">
          <h4 class="subHeading">The following data was fetched from UIDAI</h4>
          <hr>


          <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>First Name :</th>
                        <td>{{userData.firstname}}</td>
                    </tr>
                    <tr>
                        <th>Last Name :</th>
                        <td>{{userData.lastname}}</td>
                    </tr>
                    <tr>
                        <th>Gender :</th>
                        <td>{{userData.gender}}</td>
                    </tr>
                    <tr>
                        <th>Date Of Birth :</th>
                        <td>{{userData.dob}}</td>
                    </tr>
                    <tr>
                        <th>Contact Number :</th>
                        <td>{{userData.contact_number}}</td>
                    </tr>
                    <tr>
                        <th>Email ID :</th>
                        <td>{{userData.emailid}}</td>
                    </tr>
                </tbody>
            </table>
          </div>


          <!--<p class="info_div">
            <span> First Name :</span> {{userData.firstname}}
          </p>
          <p class="info_div">
            <span> Last Name :</span> {{userData.lastname}}
          </p>
          <p class="info_div">
            <span> Gender :</span> {{userData.gender}}
          </p>
          <p class="info_div">
            <span> Date Of Birth :</span> {{userData.dob}}
          </p>
          <p class="info_div">
            <span> Contact Number :</span> {{userData.contact_number}}
          </p>
          <p class="info_div">
            <span> Email ID :</span> {{userData.emailid}}
          </p>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="!IsSuccess">
  <h3>{{message}}</h3>
</div> -->

<!-- <div *ngIf="IsSuccess">
  <h1>The following data was fetched from UIDAI</h1>

  <h2>Basic Info - 1</h2>
  <hr>
  <b> First Name : </b> {{userData.firstname}} <br><br>
  <b>Last Name : </b> {{userData.lastname}} <br><br>
  <b>Gender : </b> {{userData.gender}} <br><br>
  <b>Date Of Birth : </b> {{userData.dob}} <br><br>
  <b>Contact Number: </b> {{userData.contact_number}} <br><br>
  <b>Email ID : </b> {{userData.emailid}} <br><br> -->

  <!-- <h2>Basic Info - 2</h2><hr>
  <b>First Name : </b>    {{uidData.basicdata2.firstname}} <br><br>
  <b> Last Name : </b>    {{uidData.basicdata2.lastname}} <br><br>
  <b>Gender : </b>    {{uidData.basicdata2.gender}} <br><br>
  <b>date of birth : </b>    {{uidData.basicdata2.dob}} <br><br>
  <b>Contact Number : </b>    {{uidData.basicdata2.contact_number}} <br><br>
  <b>Email ID : </b> {{uidData.basicdata2.emailid}} <br><br>
  
  <h2>Address Data</h2><hr>
  <b>Address Line 1 : </b> {{uidData.address.addressline1}} <br> <br>
  <b>Address Line 2 : </b> {{uidData.address.addressline2}} <br> <br>
  <b>City : </b> {{uidData.address.city}} <br> <br>
  <b>Pin : </b> {{uidData.address.pincode}} <br> <br>
  <b>State : </b> {{uidData.address.state}} <br> <br> -->

  <!-- <button type="submit" [routerLink]="['../../askUserOfficer']">Next</button> -->
<!-- </div> -->
<!-- *ngIf = "model.invalid == 'false'" -->